* {
  box-sizing: border-box;
}

body {
  font-family: bold;
  padding: 10px;
  background: #f8f9f9  ;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  text-align: center;
  background: #fbeee6;
}

.header h1 {
  font-size: 50px;
  color: #a93226;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #e6b0aa ;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f8f9f9 ;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.middlecolumn {   
  float: left;
  color: #cd6155 ;
  text-align: center;
  width: 100%;
  text-decoration: none;
 
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

/* Left and right column */
.column.side {
  width: 25%;

}

/* Middle column */
.column.middle {
  width: 50%;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}

/* Fake image */
.fakeimg {
  background-color: #e6b0aa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 30px;
  text-align: center;
  background: #e6b0aa;
  margin-top: 20px;
}



}